In [1]:
from openpyxl import *

In [2]:
#workbook
wb = load_workbook('exam.xlsx')

In [3]:
wb

In [4]:
#worksheet
ws = wb.active

In [14]:
#generator
g = ws.rows

In [15]:
#cell, not cell data
g

In [16]:
#next g
cells = next(g)
cells

(<Cell 'Sheet1'.A1>,
 <Cell 'Sheet1'.B1>,
 <Cell 'Sheet1'.C1>,
 <Cell 'Sheet1'.D1>)

In [17]:
keys = []
for cell in cells:
    keys.append(cell.value)

In [18]:
keys

['name', 'math', 'literature', 'science']

In [19]:
#parsing (ex: JSON)
student_data = []

In [20]:
for cells in g:
    dic = {k : c.value for k, c in zip(keys, cells)}
    student_data.append(dic)

In [21]:
student_data

[{'literature': 65, 'math': 95, 'name': 'greg', 'science': 75},
 {'literature': 30, 'math': 25, 'name': 'john', 'science': 55},
 {'literature': 45, 'math': 50, 'name': 'yang', 'science': 40},
 {'literature': 65, 'math': 15, 'name': 'timothy', 'science': 90},
 {'literature': 100, 'math': 100, 'name': 'melisa', 'science': 100},
 {'literature': 15, 'math': 10, 'name': 'thor', 'science': 20},
 {'literature': 50, 'math': 25, 'name': 'elen', 'science': 100},
 {'literature': 75, 'math': 80, 'name': 'mark', 'science': 80},
 {'literature': 100, 'math': 95, 'name': 'steve', 'science': 95},
 {'literature': 20, 'math': 20, 'name': 'anna', 'science': 20}]

In [27]:
for student in student_data:
    for k, v in student.items():
        print('{} : {}'.format(k, v).ljust(20), end='')
    print('')

name : greg         math : 95           literature : 65     science : 75
name : john         math : 25           literature : 30     science : 55
name : yang         math : 50           literature : 45     science : 40
name : timothy      math : 15           literature : 65     science : 90
name : melisa       math : 100          literature : 100    science : 100
name : thor         math : 10           literature : 15     science : 20
name : elen         math : 25           literature : 50     science : 100
name : mark         math : 80           literature : 75     science : 80
name : steve        math : 95           literature : 100    science : 95
name : anna         math : 20           literature : 20     science : 20