In [1]:
#recursion: 재귀
#함수 정의 도중에 같은 이름의 함수를 호출
#factorial
#pattern : n! = n * (n-1)!

In [45]:
def factorial(n):
    if n == 1:
        return 1
    
    return n * factorial(n-1) #recursion
# stack over flow~

In [46]:
res = factorial(5)

In [5]:
res

120

In [ ]:
#fibonacci
#1 1 2 3 5 8 13 21 ...
#f(0) f(1) f(2)...
#f(2) = f(1) - f(0)
#pattern: fibo(n) = fibo(n-1) + (fibo(n-2))

In [47]:
def fibo(n):
    #li = []
    if n == 0 or n == 1:
        return 1
    return fibo(n-1) + fibo(n-2)

In [37]:
for i in range(10):
    print(fibo(i), end = ' ')

1 1 2 3 5 8 13 21 34 55

In [38]:
li = [fibo(i) for i in range(20)]

In [40]:
print(li)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765]